In [129]:
import numpy as np
import pandas as pd
import seaborn as sns

In [130]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

y = train_data.SalePrice

In [131]:
# MSZoning
conditions = [
    train_data.MSZoning.str.contains('RL'),
    train_data.MSZoning.str.contains('RM'),
    train_data.MSZoning.str.contains('FV'),
    train_data.MSZoning.str.contains('RH'),
    train_data.MSZoning.str.contains('C'),
]

choices = [0,1,2,3,4]

train_data['Zone_class'] = np.select(conditions,choices)

train_data.Zone_class.value_counts()

train_data.MSZoning = train_data.MSZoning.replace(['RL'],'0')
train_data.MSZoning = train_data.MSZoning.replace(['RM','FV','RH','C (all)'],'1')

train_data.MSZoning.value_counts()

0    1151
1     309
Name: MSZoning, dtype: int64

In [132]:
test_data.MSZoning.fillna(0)

0       RH
1       RL
2       RL
3       RL
4       RL
        ..
1454    RM
1455    RM
1456    RL
1457    RL
1458    RL
Name: MSZoning, Length: 1459, dtype: object

In [133]:
# Test_data
conditions2 = [
    test_data.MSZoning.str.contains('RL', na=False),
    test_data.MSZoning.str.contains('RM', na=False),
    test_data.MSZoning.str.contains('FV', na=False),
    test_data.MSZoning.str.contains('RH', na=False),
    test_data.MSZoning.str.contains('C', na=False),
]

choices2 = [0,1,2,3,4]
test_data['Zone_class'] = np.select(conditions2,choices2)
test_data.MSZoning = test_data.MSZoning.replace(['RL'],'0')
test_data.MSZoning = test_data.MSZoning.replace(['RM','FV','RH','C (all)'],'1')
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,Zone_class
0,1461,20,1,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,3
1,1462,20,0,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,0
2,1463,60,0,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,0
3,1464,60,0,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,0
4,1465,120,0,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,0

In [134]:
test_data.MSZoning = test_data.MSZoning.fillna(0)

In [135]:
# LotFrontage Featurebuilding
train_data.LotFrontage.fillna(0, inplace=True)
test_data.LotFrontage.fillna(0, inplace=True)

In [136]:
train_data['LotFrontage_new'] = np.where((train_data.LotFrontage > 0 ),1 ,train_data.LotFrontage)
test_data['LotFrontage_new'] = np.where((test_data.LotFrontage > 0 ),1 ,test_data.LotFrontage)

In [137]:
# Alley, null value has to be transformed to "NO"
train_data.Alley = train_data.Alley.fillna("NO")
test_data.Alley = test_data.Alley.fillna("NO")

In [138]:
def transform (data):
    conditions = [
        data.Alley.str.contains("NO"),
        data.Alley.str.contains("Grvl"),
        data.Alley.str.contains("Pave"),
    ]

    choices = [ 0,1,2]
    data["Alley_new"] = np.select(conditions, choices)
    data.Alley = data.Alley.replace(['NO'], 0)
    data.Alley = data.Alley.replace(['Grvl','Pave'], 1)

In [139]:
transform(train_data)

In [140]:
transform(test_data)

In [141]:
train_data.LandContour.value_counts()

Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64

In [142]:
# Land Contour
def transform2 (data):
    conditions = [
        data.LandContour.str.contains("LVL"),
        data.LandContour.str.contains("Bnk"),
        data.LandContour.str.contains("HLS"),
        data.LandContour.str.contains("Low"),
    ]

    choices = [ 0,1,2,3]
    data["Alley_new"] = np.select(conditions, choices)
    data.Alley = data.LandContour.replace(['LVL'], 0)
    data.Alley = data.LandContour.replace(['Bnk','Hls','Low'], 1)

In [144]:
transform2(train_data)
train_data.LandContour.value_counts()

#did not work

Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64