In [23]:
import numpy as np
import pandas as pd
import seaborn as sns

In [24]:
# Model without any data preprocessing.

In [25]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

y = train_data.SalePrice

In [26]:
# MSZoning
conditions = [
    train_data.MSZoning.str.contains('RL'),
    train_data.MSZoning.str.contains('RM'),
    train_data.MSZoning.str.contains('FV'),
    train_data.MSZoning.str.contains('RH'),
    train_data.MSZoning.str.contains('C'),
]

choices = [0,1,2,3,4]

train_data['Zone_class'] = np.select(conditions,choices)

train_data.Zone_class.value_counts()

train_data.MSZoning = train_data.MSZoning.replace(['RL'],'0')
train_data.MSZoning = train_data.MSZoning.replace(['RM','FV','RH','C (all)'],'1')

train_data.MSZoning.value_counts()

0    1151
1     309
Name: MSZoning, dtype: int64

In [27]:
test_data.MSZoning.fillna(0)

0       RH
1       RL
2       RL
3       RL
4       RL
        ..
1454    RM
1455    RM
1456    RL
1457    RL
1458    RL
Name: MSZoning, Length: 1459, dtype: object

In [28]:
# Test_data
conditions2 = [
    test_data.MSZoning.str.contains('RL', na=False),
    test_data.MSZoning.str.contains('RM', na=False),
    test_data.MSZoning.str.contains('FV', na=False),
    test_data.MSZoning.str.contains('RH', na=False),
    test_data.MSZoning.str.contains('C', na=False),
]

choices2 = [0,1,2,3,4]
test_data['Zone_class'] = np.select(conditions2,choices2)
test_data.MSZoning = test_data.MSZoning.replace(['RL'],'0')
test_data.MSZoning = test_data.MSZoning.replace(['RM','FV','RH','C (all)'],'1')
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,Zone_class
0,1461,20,1,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,3
1,1462,20,0,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,0
2,1463,60,0,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,0
3,1464,60,0,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,0
4,1465,120,0,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,0

In [59]:
table = train_data.groupby(['MSSubClass', 'Zone_class'])['SalePrice']
table.sum().unstack()

Zone_class           0          1          2         3         4
MSSubClass
20          94725256.0  1213275.0  2941764.0  308900.0   91304.0
30           3183880.0  3233471.0        NaN   79000.0  115900.0
40            393000.0   231500.0        NaN       NaN       NaN
45            440200.0   786900.0        NaN   76000.0       NaN
50          13752418.0  6359600.0        NaN  159434.0  364176.0
60          65395637.0   135000.0  6213965.0       NaN       NaN
70           5994262.0  3598483.0        NaN  373600.0   40000.0
75           1108500.0  1970500.0        NaN       NaN       NaN
80           9844720.0        NaN        NaN       NaN       NaN
85           2956200.0        NaN        NaN       NaN       NaN
90           5692336.0   817800.0        NaN  434000.0       NaN
120         12391740.0  3631340.0  1130700.0  314000.0       NaN
160          1814000.0  3296300.0  3624485.0       NaN       NaN
180                NaN  1023000.0        NaN       NaN       NaN
190          2154600.0  1239900.0        NaN  360000.0  133900.0

In [47]:
# LotFrontage Featurebuilding
train_data.LotFrontage.fillna(0, inplace=True)

In [32]:
train_data['LotFrontage_new'] = np.where((train_data.LotFrontage > 0 ),1 ,train_data.LotFrontage)
train_data.LotFrontage_new

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
1455    1.0
1456    1.0
1457    1.0
1458    1.0
1459    1.0
Name: LotFrontage_new, Length: 1460, dtype: float64

In [41]:
test_data.LotFrontage.fillna(0, inplace=True)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1459 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     1443 non-null   object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
 80  Zone_class     1459 non-null   int32
dtypes: float64(11), int32(1), int64(26), object(43)
memory usage: 917.7+ KB